html,
body {
    height: 100%;
}
body {
    color: $default;
    font-size: 16px;
    line-height: 26px;
    @extend %quicksand-500;
    display: flex;
    flex-direction: column;
}
main {
    flex-grow: 1;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
a {
    line-height: 26px;
    @extend %quicksand-500;
    font-size: 16px;
    color: $default;
    text-decoration: none;
}
.title {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 26px;
    @extend %roboto-700;
    color: #29282d;
    text-align: center;
    margin-bottom: 20px;
}
.text {
    font-size: 16px;
    @extend %quicksand-500;
    text-align: center;
    max-width: 540px;
    margin: 0 auto 60px;
}
.subtitle {
    font-size: 22px;
    line-height: 26px;
    color: #fe3e57;
    text-transform: uppercase;
    @extend %quicksand-500;
    margin-bottom: 20px;
}
.link {
    padding: 15px 25px;
    border: 1px solid $accent;
    background-color: #fff;
    color: #29282d;
    font-size: 16px;
    @extend %roboto-400;
    display: block;
    width: 170px;
    margin: 0 auto;
    text-align: center;
    transition: all .5s ease;
}
.link:hover {
    background-color: $accent;
    color: #ffff;
    box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.25);  
}
.breadcrumbs {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &-list {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            background-image: url(../img/login/home.svg);
            background-repeat: no-repeat;
            top: 3px;
            left: -3px;
            width: 16px;
            height: 16px;
        }
        &__item {
            font-size: 16px;
            color: #727272;
            @extend %quicksand-500;
            padding: 0 20px;
            position: relative;
            &:last-child a {
                color: $accent;
            }
            &:not(:last-child)::after {
                position: absolute;
                content: '';
                background-image: url(../img/login/arrows.svg);
                background-repeat: no-repeat;
                height: 10px;
                width: 14px;
                top: 8px;
                right: -10px;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}